<footer>
    <div class="sc-jOhDuK bvjjhp">
        <footer data-testid="footer-desktop">
            <div class="_e3lXT">
                <nav class="_KuEVP">
                    <div class="_dnkm6">
                        <div class="_UatzY">
                            <div data-testid="footer-category" class="_m5RqT">
                                <p id="footer_buy" data-qa="footer_buy" class="_SQJtg">Comprar</p>
                            </div>
                            <ul data-testid="footer-expanded-body" data-collapsed="false" class="_NiXq-" style="height: auto;">
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_buy_usedOrNewCars" data-qa="footer_buy_usedOrNewCars" href="https://www.webmotors.com.br/carros-usados/estoque?lkid=1075" rel="noopener" target="_blank" title="Carros usados" class="_NROch"><h2 class="_-EIoR">Carros usados</h2></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_buy_newCars" data-qa="footer_buy_newCars" href="https://www.webmotors.com.br/carros-novos/estoque?lkid=1076" rel="noopener" target="_blank" title="Carros novos" class="_NROch"><h2 class="_-EIoR">Carros novos</h2></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_buy_usedOrNewMotorbikes" data-qa="footer_buy_usedOrNewMotorbikes" href="https://www.webmotors.com.br/motos-usadas/estoque?lkid=1077" rel="noopener" target="_blank" title="Motos usadas" class="_NROch"><h2 class="_-EIoR">Motos usadas</h2></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_buy_newMotorbikes" data-qa="footer_buy_newMotorbikes" href="https://www.webmotors.com.br/motos-novas/estoque?lkid=1078" rel="noopener" target="_blank" title="Motos novas" class="_NROch"><h2 class="_-EIoR">Motos novas</h2></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_buy_inspected" data-qa="footer_buy_inspected" href="https://www.webmotors.com.br/carros/estoque?Oportunidades=Vistoriado&amp;lkid=1578" rel="noopener" target="_blank" title="Vistoriado" class="_NROch"><h2 class="_-EIoR">Vistoriado</h2></a></li>
                            </ul>
                        </div>
                        <div class="_UatzY">
                            <div data-testid="footer-category" class="_m5RqT"><p id="footer_sell" data-qa="footer_sell" class="_SQJtg">Vender</p>
                            </div>
                            <ul data-testid="footer-expanded-body" data-collapsed="false" class="_NiXq-" style="height: auto;">
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_sell_car" data-qa="footer_sell_car" href="https://www.webmotors.com.br/vender/?lkid=1080" rel="noopener" target="_blank" title="Vender carro" class="_NROch"><h2 class="_-EIoR">Vender carro</h2></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_sell_bike" data-qa="footer_sell_bike" href="https://www.webmotors.com.br/vender/moto?lkid=1081" rel="noopener" target="_blank" title="Vender moto" class="_NROch"><h2 class="_-EIoR">Vender moto</h2></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_sell_manage_ad" data-qa="footer_sell_manage_ad" href="https://www.webmotors.com.br/login?lkid=1082&amp;r=https://www.webmotors.com.br/garagem" rel="noopener" target="_blank" title="Gerenciar meu anúncio" class="_NROch"><p class="_-EIoR">Gerenciar meu anúncio</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_sell_dealer_platform" data-qa="footer_sell_dealer_platform" href="https://cockpit.com.br/?lkid=1091" rel="noopener" target="_blank" title="Plataforma revendedores" class="_NROch"><p class="_-EIoR">Plataforma revendedores</p></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="_dnkm6">
                        <div class="_UatzY">
                            <div data-testid="footer-category" class="_m5RqT">
                                <p id="footer_services" data-qa="footer_services" class="_SQJtg">Serviços</p>
                            </div>
                            <ul data-testid="footer-expanded-body" data-collapsed="false" class="_NiXq-" style="height: auto;">
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_fipe" data-qa="footer_services_fipe" href="https://www.webmotors.com.br/tabela-fipe/?lkid=1084" rel="noopener" target="_blank" title="Tabela FIPE" class="_NROch"><p class="_-EIoR">Tabela FIPE</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_financing" data-qa="footer_services_financing" href="https://www.webmotors.com.br/financiamento/?lkid=1088" rel="noopener" target="_blank" title="Financiamento" class="_NROch"><p class="_-EIoR">Financiamento</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_catalog_0km" data-qa="footer_services_catalog_0km" href="https://www.webmotors.com.br/catalogo?lkid=1085" rel="noopener" target="_blank" title="Catálogo 0km" class="_NROch"><p class="_-EIoR">Catálogo 0km</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_inspected" data-qa="footer_services_inspected" href="https://www.cockpit.com.br/solutions/vistoriado?lkid=1579" rel="noopener" target="_blank" title="Vistoriado" class="_NROch"><p class="_-EIoR">Vistoriado</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_dealer_platform" data-qa="footer_services_dealer_platform" href="https://cockpit.com.br/?lkid=1091" rel="noopener" target="_blank" title="Plataforma revendedores" class="_NROch"><p class="_-EIoR">Plataforma revendedores</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_insurance" data-qa="footer_services_insurance" href="https://www.autocompara.com.br/?lkid=1090&amp;utm_source=webmotors&amp;utm_medium=site&amp;utm_campaign=footer_seguro_veiculo" rel="noopener" target="_blank" title="Seguro veículo" class="_NROch"><p class="_-EIoR">Seguro veículo</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_autoinsights" data-qa="footer_services_autoinsights" href="https://publicidade.webmotors.com.br/tag/blog/index.html?lkid=1092" rel="noopener" target="_blank" title="Autoinsights" class="_NROch"><p class="_-EIoR">Autoinsights</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_advertising" data-qa="footer_services_advertising" href="https://publicidade.webmotors.com.br?lkid=1092" rel="noopener" target="_blank" title="Publicidade" class="_NROch"><p class="_-EIoR">Publicidade</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_compare_vehicles" data-qa="footer_services_compare_vehicles" href="https://www.webmotors.com.br/catalogo/comparativo-de-carros?lkid=1766" rel="noopener" target="_blank" title="Comparar veículos" class="_NROch"><p class="_-EIoR">Comparar veículos</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_services_fines" data-qa="footer_services_fines" href="https://webmotors.usezapay.com.br/?lkid=1767" rel="noopener" target="_blank" title="Multas e Débitos" class="_NROch"><p class="_-EIoR">Multas e Débitos</p></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="_dnkm6">
                        <div class="_UatzY">
                            <div data-testid="footer-category" class="_m5RqT"><h2 id="footer_wm1" data-qa="footer_wm1" class="_SQJtg">Notícias WM1</h2>
                            </div>
                            <ul data-testid="footer-expanded-body" data-collapsed="false" class="_NiXq-" style="height: auto;">
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_portal" data-qa="footer_wm1_portal" href="https://www.webmotors.com.br/wm1/?lkid=1531" rel="noopener" target="_blank" title="Portal" class="_NROch"><p class="_-EIoR">Portal</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_lastnews" data-qa="footer_wm1_lastnews" href="https://www.webmotors.com.br/wm1/noticias?lkid=1532" rel="noopener" target="_blank" title="Últimas notícias" class="_NROch"><p class="_-EIoR">Últimas notícias</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_tests" data-qa="footer_wm1_tests" href="https://www.webmotors.com.br/wm1/testes?lkid=1533" rel="noopener" target="_blank" title="Testes" class="_NROch"><p class="_-EIoR">Testes</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_comparativos" data-qa="footer_wm1_comparativos" href="https://www.webmotors.com.br/wm1/comparativos?lkid=1534" rel="noopener" target="_blank" title="Comparativos" class="_NROch"><p class="_-EIoR">Comparativos</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_videos" data-qa="footer_wm1_videos" href="https://www.webmotors.com.br/wm1/videos-de-carros-e-motos?lkid=1535" rel="noopener" target="_blank" title="Vídeos" class="_NROch"><p class="_-EIoR">Vídeos</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_bikes" data-qa="footer_wm1_bikes" href="https://www.webmotors.com.br/wm1/motos?lkid=1536" rel="noopener" target="_blank" title="Motos" class="_NROch"><p class="_-EIoR">Motos</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_secrets" data-qa="footer_wm1_secrets" href="https://www.webmotors.com.br/wm1/segredos-auto?lkid=1537" rel="noopener" target="_blank" title="Segredos" class="_NROch"><p class="_-EIoR">Segredos</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_tips" data-qa="footer_wm1_tips" href="https://www.webmotors.com.br/wm1/dicas?lkid=1538" rel="noopener" target="_blank" title="Dicas" class="_NROch"><p class="_-EIoR">Dicas</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_wm1_pocket" data-qa="footer_wm1_pocket" href="https://www.webmotors.com.br/wm1/dinheiro-e-economia?lkid=1539" rel="noopener" target="_blank" title="Bolso" class="_NROch"><p class="_-EIoR">Bolso</p></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="_dnkm6">
                        <div class="_UatzY">
                            <div data-testid="footer-category" class="_m5RqT">
                                <p id="footer_help" data-qa="footer_help" class="_SQJtg">Ajuda</p>
                            </div>
                            <ul data-testid="footer-expanded-body" data-collapsed="false" class="_NiXq-" style="height: auto;">
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_help_you" data-qa="footer_help_you" href="https://ajuda.webmotors.com.br/hc/pt-br?lkid=1093" rel="noopener" target="_blank" title="Para você" class="_NROch"><p class="_-EIoR">Para você</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_help_store" data-qa="footer_help_store" href="https://ajuda.cockpit.com.br/hc/pt-br/?lkid=1096" rel="noopener" target="_blank" title="Para a sua loja" class="_NROch"><p class="_-EIoR">Para a sua loja</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_help_security" data-qa="footer_help_security" href="https://www.webmotors.com.br/seguranca/?lkid=1541" rel="noopener" target="_blank" title="Segurança" class="_NROch"><p class="_-EIoR">Segurança</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_help_institutional" data-qa="footer_help_institutional" href="https://www.webmotors.com.br/institucional/?lkid=1542" rel="noopener" target="_blank" title="Sobre nós" class="_NROch"><p class="_-EIoR">Sobre nós</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_help_workWithUs" data-qa="footer_help_workWithUs" href="https://webmotors.gupy.io/?lkid=1099" rel="noopener" target="_blank" title="Trabalhe com a gente" class="_NROch"><p class="_-EIoR">Trabalhe com a gente</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_help_siteMap" data-qa="footer_help_siteMap" href="https://www.webmotors.com.br/mapasite?lkid=1543" rel="noopener" target="_blank" title="Mapa do site" class="_NROch"><p class="_-EIoR">Mapa do site</p></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="_dnkm6">
                        <div class="_UatzY">
                            <div data-testid="footer-category" class="_m5RqT">
                                <h2 id="footer_institutional" data-qa="footer_institutional" class="_SQJtg">Institucional</h2>
                            </div>
                            <ul data-testid="footer-expanded-body" data-collapsed="false" class="_NiXq-" style="height: auto;">
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_institutional_ethic" data-qa="footer_institutional_ethic" href="https://aloetica.com.br/otrs/canal-de-etica.pl?CustomerID=webmotors.com.br&amp;lkid=1544" rel="noopener" target="_blank" title="Canal de ética" class="_NROch"><p class="_-EIoR">Canal de ética</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_institutional_conductCode" data-qa="footer_institutional_conductCode" href="https://www.webmotors.com.br/seguranca/assets/files/codigo-de-conduta.pdf?lkid=1545" rel="noopener" target="_blank" title="Código de conduta Webmotors" class="_NROch"><p class="_-EIoR">Código de conduta Webmotors</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_institutional_consumerPolicy" data-qa="footer_institutional_consumerPolicy" href="https://cdn.webmotors.com.br/webmotors/content/pdf/cdc.pdf?v:32673&amp;lkid=1097" rel="noopener" target="_blank" title="Código defesa do consumidor" class="_NROch"><p class="_-EIoR">Código defesa do consumidor</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-call-cookie" id="footer_institutional_cookiesManagement" data-qa="footer_institutional_cookiesManagement" href="#" rel="noopener" target="_blank" title="Gerenciamento de cookies" class="_NROch"><p class="_-EIoR">Gerenciamento de cookies</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_institutional_privacyPolicy" data-qa="footer_institutional_privacyPolicy" href="https://www.webmotors.com.br/seguranca/politica-de-privacidade?lkid=1546" rel="noopener" target="_blank" title="Termos de Uso e Política de privacidade" class="_NROch"><p class="_-EIoR">Termos de Uso e Política de privacidade</p></a></li>
                                <li class="_VSpv2"><a data-testid="footer-link" id="footer_institutional_lgpd" data-qa="footer_institutional_lgpd" href="https://www.webmotors.com.br/seguranca/lgpd?lkid=1548" rel="noopener" target="_blank" title="LGPD" class="_NROch"><p class="_-EIoR">LGPD</p></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </footer>
    </div>
    <div class="container">
        <p>&copy; {{ currentYear }} Seu Nome</p>
    </div>
</footer>
  