<div class="container rounded-4 bg-white mt-4 p-5">
  <div class="row">
    <ul class="nav mb-3">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          Comprar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Vender
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-10 mb-2 mb-sm-0">
      <div class="input-group">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
            viewBox="0 0 512 512">
            <path
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
          </svg>
        </span>
        <input type="text" class="form-control form-control-lg" placeholder="Digite o que busca" aria-label="Digite o que busca">
      </div>
    </div>
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
      <div class="d-grid">
        <button type="button" class="btn btn-danger btn-lg px-4">Ver Ofertas</button>
      </div>
    </div>
  </div>

</div>
