<app-menu-superior></app-menu-superior>
<div class="sc-fxvKuh TOfqM">
    <div class="sc-iWajrY jNkffT">
        <div class="sc-jKDlA-D cvxQHv">
            <span class="sc-gHLcSH ecOFWm actived" data-testid="Tabs_Cars" data-qa="Tabs_Cars">
                <h1>Comprar <span>carros</span></h1>
            </span>
            <span class="sc-gHLcSH ecOFWm false" data-testid="Tabs_Bikes" data-qa="Tabs_Bikes">
                <h2>Comprar <span>motos</span></h2>
            </span>
            <a data-qa="Sell_Link" target="_blank" class="sc-cHPgQl jguxaM">Ver ofertas (435.941)</a>
        </div>
    </div>
</div>

<div class="row m-2">
  <div class="col-4">
  <custom-card [model]="'CARRO TESTE'" [description]="'TESTE TESTE'">
    <app-custom-carousel></app-custom-carousel>
  </custom-card>
</div>
</div>

<app-footer></app-footer>
